NODE_ENV="development"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/buscatunido?schema=public"
PUBLIC_PORT=4000
PUBLIC_CORS_ORIGIN="https://buscatunido.vercel.app"
JWT_SECRET="your-super-secret-jwt-key"
PUBLIC_JWT_EXPIRATION="7d"
MODERATOR_PASSWORD="Moderator123!"
PUBLIC_MODERATOR_EMAIL="moderator@buscatunido.cl"
PUBLIC_MODERATOR_FIRST_NAME="Moderator"
PUBLIC_MODERATOR_LAST_NAME="Staff"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
PUBLIC_AWS_ENDPOINT_URL_S3=""
PUBLIC_AWS_REGION=""
PUBLIC_STORAGE_BUCKET=""
PUBLIC_NEON_STORAGE_BASE_URL=""
